.footer_container{
  width: 100%;
  display: flex;


  .footer_container_text {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    p{
      transform: translate(142px, 0%);
    }
  }

  .footer_container_svg{
    width: 50%;
    margin-right: 142px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }


}