.footer_container{
  width: 100%;
  display: flex;
  margin-bottom: 19px;


  .footer_container_text {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    p{
      transform: translate(208px, 0%);
      font: normal normal normal 18px/24px $font-base;
      letter-spacing: 0px;
      color: $basicColor;
    }
  }

  .footer_container_svg{
    width: 50%;
    margin-right: 142px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    height: auto;
  }




}