.pagin_table{
  min-height: 374px;
  min-width: 70%;
}

table{
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.row1, .row2{

  position: relative;

  &::after{
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
}

.table_row{
  padding-bottom: 31px;
  padding-right: 22px;
}

tr{
  display: flex;
  justify-content: space-between;
}

td{
  display: flex;
  flex-direction: column;

}





.foundation_name{
  text-align: left;
  font: normal normal 300 26px $font-alt;
  letter-spacing: 0px;
  color: $basicColor;
}

.purpose_foundation{
  padding-top: 15px;
  text-align: left;
  font: italic normal 300 18px $font-alt;
  letter-spacing: 0px;
  color: $basicColor;
}

.second_column{
  ext-align: left;
  font: normal normal 300 18px $font-alt;
  letter-spacing: 0px;
  color: $basicColor;
}
